<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".htm" mimeType="text/html" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="ETag" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(?:tasama/)?(?:Account|cdapi)(?:/|$)" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>

      <outboundRules>
        <rule name="NoCacheIndexHtml">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.html$" />
          </conditions>
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <rule name="PragmaIndexHtml">
          <match serverVariable="RESPONSE_Pragma" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.html$" />
          </conditions>
          <action type="Rewrite" value="no-cache" />
        </rule>
        <rule name="ExpiresIndexHtml">
          <match serverVariable="RESPONSE_Expires" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.html$" />
          </conditions>
          <action type="Rewrite" value="0" />
        </rule>
      </outboundRules>
    </rewrite>

    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <webSocket enabled="false" />
  </system.webServer>
</configuration>
